<% @carros.each do |item| %>
    <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
            <div class="text">
                <a href="blog-single.html" class="block-20 img" style="background-image: url('/templete/images/image_1.jpg');"></a>
                <div class="meta mb-1">
                    <div><a href="#">April 12, 2020</a></div>
                </div>
                <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
            </div>
        </div>
    </div>
<% end %>