<section class="hero-wrap hero-wrap-2" style="background-image: url('/templete/images/home-banner.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <h1 class="mb-3 bread">QUEM SOMOS</h1>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<br>


<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <%= image_tag 'logotipo_encontra_aqui.png', class: "img-fluid" %>

                <br>
                <br>

                <div class="heading-section pt-md-4">
                    <p>O EncontreAqui é uma empresa filhar da empresa Team Build, que a princípio presta serviços de intermediação de qualquer produto e um deles é a intermediação na compra e venda de automóvel.</p>
                </div>


            </div>

            <div class="col-md-8 col-sm-12 wrap-about pl-md-5 ftco-animate ">
                <div class="row d-sm-flex text-wrapper align-items-stretch">
                    <div class="one-half half-text d-flex justify-content-end align-items-center">
                        <div class="text-inner pt-md-5 pl-md-5">
                            <div class="row d-flex">
                                <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                                    <div class="media block-6 services-wrap d-flex">
                                        <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-team"></span></div>
                                        <div class="media-body pl-4">
                                            <h3>O que é que o VENDEDOR encontra no Encontreaqui?</h3>
                                            <p>
                                                Passa a ter uma equipa especializada na negociação. 
                                                Passa a ter acesso a ferramentas de financiamento para a sua viatura. 
                                                Passa a ter uma divulgação da sua viatura em vários perfis online com links patrocinados que dará a visibilidade a mais de 30.000 visualizações.  
                                                Temos parceiros externos especializados, tratamos de garantir todas as conformidades legais, temos vários pacotes de compra que oferece vários bônus para os nossos clientes. 
                                            </p>
                                        </div>
                                    </div>      
                                </div>
                                
                                <div class="col-md-12 d-flex align-self-stretch ftco-animate">
                                    <div class="media block-6 services-wrap d-flex">
                                        <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-loan"></span></div>
                                        <div class="media-body pl-4">
                                            <h3>O que o COMPRADOR encontra?</h3>
                                            <p>
                                                O comprador encontra uma equipa profissional que o ajuda em todo o processo de negociação. 
                                                Tentamos casar os interesses do comprador com os interesses do vendedor mediando o negócio entre as partes para que o negócio seja o melhor para ambos.
                                                Oferecemos pacotes de benefícios aos nossos compradores consoante ao valor do automóvel comprado. 
                                            </p>
                                        </div>
                                    </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
		
<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img" style="background-image: url(/templete/images/home-banner.jpg);">
        <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-end">
            <div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ftco-animate">
                <h2 class="mb-4">Vamos conversar?</h2>
                <form action="#" class="appointment">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Seu nome">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                        <select name="" id="" class="form-control">
                                            <option value="">Quero vender meu carro</option>
                                            <option value="">Quero comprar um carro</option>
                                            <option value="">Outros assuntos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Alguma descrição"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Enviar agora" class="btn btn-primary py-3 px-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>	
