<div class="hero-wrap" style="background-image: url('/carros.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="overlay-2"></div>

    <div class="container">
        <div class="row no-gutters slider-text align-items-center">
            <div class="col-md-7 ftco-animate d-flex align-items-end">
                <div class="text w-100">
                    <h1 class="mb-4">O carro dos seus sonhos</h1>
                    <p class="mb-4">Barato, simples, seguro e facil.</p>

                    <button type="button" class="btn btn-df pulse-button btn-lg text-white" data-toggle="modal" data-target="#want-car" style="box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15)!important;">
                        Quero um carro
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mouse">
        <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="fa fa-chevron-down"></span></div>
        </a>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">O melhor para si</span>
                <h2 class="mb-2">Os nossos serviços &amp; ofertas</h2>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
                <div class="icon icon-ftp d-flex justify-content-center align-items-center"><span class="flaticon-checklist"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Vender o seu carro</h3>
                        <p>Em nossa plataforma podes vender o seu carro com maior simplicidade.</p>
                    </div>
                </div>      
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon icon-ftp d-flex justify-content-center align-items-center"><span class="flaticon-project"></span></div>
                        <div class="media-body py-md-4">
                            <h3>Compra o seu carro</h3>
                            <p>Compra o carro dos seus sonhos com segurança e profissionalismo.</p>
                        </div>
                    </div>      
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row d-flex justify-content-center" style="    margin: 0;">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-df pulse-button btn-lg text-white text-center" data-toggle="modal" data-target="#want-car" style="font-size: 40px; box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15)!important;">
                    Quero um carro
                </button>
            </div>
        </div>
    </div>

</section>


<section class="ftco-section testimony-section">
    <div class="overlay"></div>

    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Barato, simples, seguro e facil.</span>
                <h2 class="mb-3">Carros mais procurados</h2>
            </div>
        </div>

        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <a href="#" class="block-20 img" style="background-image: url('/templete/images/carros/carro1.png');"></a>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Hyundai - i10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <a href="#" class="block-20 img" style="background-image: url('/templete/images/carros/carro2.png');"></a>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Lexus - V8</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <a href="#" class="block-20 img" style="background-image: url('/templete/images/carros/carro3.png');"></a>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Camaro</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" style="padding-top: 0;">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <%= render 'site/lista_de_carros' %>
        </div>
    </div>
</section>	
  

<%= render 'quero_carros/form' %>
