@import "animate.scss";

.bg-gradient-primary {
   background-color: #ffc107 !important;
   background-image: linear-gradient(180deg,#ffc107 10%,#bd8e00 100%) !important;
   background-size: cover;
}

.icon:after{
   border-color: transparent transparent #ffc107 transparent!important;
}

.icon:before{
   border-color: #ffc107 transparent transparent transparent!important;
}

.icon{
   background: #ffc107!important;
}



 .btn-interesse{
    background: #ffc107 !important;
    border: 1px solid #ffc107 !important;
    color: #fff !important;
    float: right;
 }

 .text-light{
    font-weight: 100!important;
 }

 .slider-text h1 {
   color: #ffc107!important;
}

.btn{
   font-weight: 300!important;
   border-radius: 0!important;
}

.btn-df{
   background: #ffc107 !important;
   border: 1px solid #ffc107 !important;
}


//==============================================================================================

.pulse-button {
   box-shadow: 0 0 0 0 #ffc107!important;
   background-size: cover!important;
   background-repeat: no-repeat!important;
   cursor: pointer!important;
   -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
   -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
   -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
   animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
}

.pulse-button:hover {
   -webkit-animation: none;
   -moz-animation: none;
   -ms-animation: none;
   animation: none;
}

@-webkit-keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

@-moz-keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

@-ms-keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

@keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

//==============================================================================================


.box-notification {
   color: #ffffff!important;
   top: 7%;
   padding: 20px!important;
   right: 0px;
   position: absolute!important;
   min-width: 200px;
   min-height: 50px;
   max-width: 200px;
   z-index: 9;
}

.box-notification-sombra {
   text-align: center;
   box-shadow: 0 1px 0 rgba(156, 39, 176, 0.7);
}

.animateOpen {
   -webkit-animation: fadeInRight 1s;
   -webkit-animation-fill-mode: forwards;
}

.animateClose {
   -webkit-animation: fadeOutRight 1s;
   -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOutRight {
   from {
       opacity: 1;
   }
   to {
       opacity: 0;
       transform: translate3d(100%, 0, 0);
   }
}

@keyframes fadeInRight {
   from {
       opacity: 0;
       transform: translate3d(100%, 0, 0);
   }
   to {
       opacity: 1;
       transform: none;
   }
}

@keyframes fadeInDown {
   from {
       opacity: 0;
       transform: translate3d(0, -100%, 0);
   }
   to {
       opacity: 1;
       transform: none;
   }
}

@keyframes fadeInUp {
   from {
       opacity: 0;
       transform: translate3d(0, 100%, 0);
   }
   to {
       opacity: 1;
       transform: none;
   }
}


.alert-message{
   position: absolute!important;
   right: 0!important;
   top: 5%!important;
   z-index: 9!important;
}