
//= require actiontext

@import "animate.scss";

.heading-section.heading-section-white .subheading {
   color: #ffc107!important;
}

.link-logo{
   margin: 0;
   background: #000;
   padding: 50px 0;
}


h1.text-gray-800 {
   color: #000000!important;
}

.nav-black {
   color: #000000!important;
}

.bg-black {
   background-color: #000000 !important;
}

.testimony-section .overlay{
   background: #000000!important;
}
.ftco-footer {
   background: #000000!important;
}

.text-link{
   color: #ffc107!important;
   font-weight: 100!important;
   font-size: 15px!important;
}

button.btn-quero{
   font-size: 29px!important;
   box-shadow: 0 4px 9px #21252947 !important;
   font-weight: 200!important;
   padding: 10px 60px!important;
}

.p-df{
   font-size: 25px!important;
    color: #ffa922!important;
    font-weight: 100!important;
}

.card {
   border-radius: 0!important;
   //border: 1px solid #ffc107!important;
}

.modal-content{
   border-radius: 0!important;
}
.ftco-navbar-light .navbar-brand {
   color: #ffc107!important;
   font-size: 30px!important;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
   color: #ffc107!important;
}

.ftco-navbar-light.scrolled .nav-item.active > a {
   color: #ffc107 !important;
}

.text-encontre{
   color: #ffc107;
   font-weight: 100;
   font-size: 50px;
   margin-bottom: -15px;
}


.bg-login-image{
   background-size: 80%!important;
   background-repeat: no-repeat!important;
}

.bg-gradient-primary {
   background-color: #ffc107 !important;
   background-image: linear-gradient(180deg,#ffc107 10%,#bd8e00 100%) !important;
   background-size: cover;
}

.mouse-icon{
   border: 1px solid #fec007!important;
   background: #fec007!important;
}

.icon-ftp.icon:after{
   border-color: transparent transparent #ffc107 transparent!important;
}

.ftco-footer a{
   color: #ffc107!important;
}

.color-icon{
   color: #ffc107!important;
}

.icon-ftp.icon:before{
   border-color: #ffc107 transparent transparent transparent!important;
}

.icon-ftp.icon{
   background: #ffc107!important;
}

.bg-df {
   background-color: #ffc107!important;
}


 .btn-interesse{
    background: #ffc107 !important;
    border: 1px solid #ffc107 !important;
    color: #fff !important;
    float: right;
 }

 .text-light{
    font-weight: 100!important;
 }

 .slider-text h1 {
   color: #ffc107!important;
}

.btn{
   font-weight: 500!important;
   border-radius: 0!important;
}

.btn-df{
   background: #ffc107 !important;
   border: 1px solid #ffc107 !important;
}


//==============================================================================================

.pulse-button {
   box-shadow: 0 0 0 0 #ffc107!important;
   background-size: cover!important;
   background-repeat: no-repeat!important;
   cursor: pointer!important;
   -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
   -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
   -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
   animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)!important;
}

.pulse-button:hover {
   -webkit-animation: none;
   -moz-animation: none;
   -ms-animation: none;
   animation: none;
}

@-webkit-keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

@-moz-keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

@-ms-keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

@keyframes pulse {
   to {
       box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
   }
}

//==============================================================================================


.box-notification {
   color: #ffffff!important;
   top: 7%;
   padding: 20px!important;
   right: 0px;
   position: absolute!important;
   min-width: 200px;
   min-height: 50px;
   max-width: 200px;
   z-index: 9;
}

.box-notification-sombra {
   text-align: center;
   box-shadow: 0 1px 0 rgba(156, 39, 176, 0.7);
}

.animateOpen {
   -webkit-animation: fadeInRight 1s;
   -webkit-animation-fill-mode: forwards;
}

.animateClose {
   -webkit-animation: fadeOutRight 1s;
   -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOutRight {
   from {
       opacity: 1;
   }
   to {
       opacity: 0;
       transform: translate3d(100%, 0, 0);
   }
}

@keyframes fadeInRight {
   from {
       opacity: 0;
       transform: translate3d(100%, 0, 0);
   }
   to {
       opacity: 1;
       transform: none;
   }
}

@keyframes fadeInDown {
   from {
       opacity: 0;
       transform: translate3d(0, -100%, 0);
   }
   to {
       opacity: 1;
       transform: none;
   }
}

@keyframes fadeInUp {
   from {
       opacity: 0;
       transform: translate3d(0, 100%, 0);
   }
   to {
       opacity: 1;
       transform: none;
   }
}


.alert-message{
   position: absolute!important;
   right: 0!important;
   top: 5%!important;
   z-index: 9!important;
}