<footer class="ftco-footer ftco-section">
    <div class="container">
    <div class="row mb-5">
        <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 logo"><a href="#">Só carros</a></h2>
            <%= image_tag 'logo_branco.png', style: "width: 200px;" %>
            <ul class="ftco-footer-social list-unstyled mt-5">
            <li class="ftco-animate"><a target="_blank" href="https://www.facebook.com/Encontre-Aqui-100937264696159/"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a target="_blank" href="https://www.instagram.com/info.encontreaqui/"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
        </div>
        <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Explore mais</h2>
            <ul class="list-unstyled">
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Sobre</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contactos</a></li>
            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>O que fazemos</a></li>
            </ul>
        </div>
        </div>
        <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Empresa</h2>
            <ul class="list-unstyled">
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Acholis</a></li>
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Team Build</a></li>
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Termos &amp; Condições</a></li>
            </ul>
        </div>
        </div>
        <div class="col-sm-12 col-md">
        </div>
        <div class="col-sm-12 col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
                <ul>
                <li><span class="icon fa fa-map marker"></span><span class="text">Centralidade do Kilamba, Angola</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+244 930 535 039</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">hello@acholis.com</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://acholis.com" target="_blank">Acholis.com</a>
            </p>
        </div>
    </div>
    </div>
</footer>